
/*
##################################
###############################################
For all styles styling starts
####################################################
#################################################################
*/
*{
    margin: 0;
}

/*
##################################
###############################################
For all styles styling ends
####################################################
#################################################################
*/
/*
##################################
###############################################
shared styles styling starts
####################################################
#################################################################
*/
.sub-heading{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}
.primary-text{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}
.primary-style-color{
    color: rgb(255, 0, 0);
}
/*
##################################
###############################################
shared styles styling ends
####################################################
#################################################################
*/



