
/*

###############################################
Common styles styling starts
####################################################

*/
*{
    margin: 0;
}
body{
    padding: 0 140px;
}
/*

###############################################
Common styles styling ends
####################################################

*/
/*

###############################################
shared styles styling starts
####################################################

*/
.sub-heading{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}
.primary-text{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}
.primary-style-color{
    color: rgb(255, 0, 0);
}
/*

###############################################
shared styles styling ends
####################################################

*/
/*

###############################################
Banner styles styling starts
####################################################

*/
.banner{
    font-family:Merriweather;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('resources/Banner\ Image.png');
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding: 150px 270px;
    background-position: center;
    margin-bottom: 120px;
}
.banner-text{
    text-align: center;
}
.banner-sub-title{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 57px;
    font-weight: 900;
    margin-top: 16px;
}
/*

###############################################
Banner styles styling ends
####################################################

*/
/*

###############################################
Discount section styles styling starts
####################################################

*/
.discount {
    margin-bottom: 120px;
}
.discount-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount-percent{
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount-text{
    text-align: center;
    margin-bottom: 48px;
}
.discount-small-text{
    font-weight: 700;
}
.discount-heading{
    margin-top: 16px;
}
.discount-img{
    width: 70%;
}
/*

###############################################
Discount section styles styling ends
####################################################

*/
/*

###############################################
Party section styles styling starts
####################################################

*/
.party-banner{
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('resources/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    display: flex;
    margin-bottom: 120px;
    padding: 80px 120px 80px 90px;
    align-items: center;
}
.party-text{
    text-align: left;
    padding-right: 20px;
}
.party-heading{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;

}
.party-description-text{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    margin-bottom: 48px;

}

.party-img{
    width: 25%;
}
.join-now-btn{
    border: 0;
    background-color: transparent;
    color: white;
    font-weight: 600;
}
/*

###############################################
Party section styles styling ends
####################################################

*/
/*

###############################################
JOIN section styles styling starts
####################################################

*/
.join{
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    padding: 100px 300px;
    margin-bottom: 120px;
}
.join-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join-text{
    font-size: 32px;
    text-align: center;
}
.join-text h5 {
    margin-bottom: 15px;
}
span{
    color: red;
}
.join-button{
    margin-top: 30px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 16px 32px;
    font-weight: 600;

}

/*

###############################################
JOIN section styles styling ends
####################################################

*/
/*

###############################################
Coming soon section styles styling starts
####################################################

*/
.coming-soon{
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}
.coming-soon-main-text-container{
    margin-right: 4%;
}
.coming-soon-heading{
    margin-top: 16px;
    margin-bottom: 22px;
}
.coming-soon-text{
    font-size: medium;
}
.circle-image{
    width: 75%;
}
.coming-soon-happy-new-year-container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 8%;

}
.year{
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}
.new-year-text{
    font-size: medium;
    margin-top: 16px;
    margin-bottom: 46px;
}
.coming-soon-new-year-small-image{
    width: 50%;

}
/*

###############################################
Coming soon section styles styling ends
####################################################

*/
/*

###############################################
Holiday section styles styling starts
####################################################

*/
.holiday{
    margin-bottom: 120px;
}
.holiday-text-container{
    text-align: center;
    padding: 0 126px;
    margin-bottom: 68px;
}
.holiday-sub-heading{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.holiday-heading{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 28px;
}

.holiday-img-container{
    position: relative;
    background-image: url('resources/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.holiday-img1{
    position: relative;
    width: 600.46px;
    height: 620.07px;
    z-index: 80;
}
.holiday-img2{
    position: absolute;
    top: 117px;
    right: 300px;
    width: 25%;
    z-index: 100;
    
}
.holiday-img3{
    position: absolute;
    bottom: 186px;
    right: 0px;
    width: 429px;
    height: 433px;
    z-index: 10;
    
}

/*

###############################################
Holiday section styles styling ends
####################################################

*/
/*

###############################################
Portfolio section styles styling starts
####################################################

*/
.portfolio{
    margin-bottom: 120px;
}
.portfolio-text-container{
    padding-right: 424px;
}
.portfolio-sub-heading{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-heading{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}
.portfolio-image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;
}
.grid-item img{
    width: 100%;
}
.grid-item img:hover{
    transform: scale(1.1);
    box-shadow: 2px 1px 20px rgb(64, 66, 66);
    
}
/*

###############################################
Portfolio section styles styling starts
####################################################

*/






